.imagesContainer {
  width: 950px;
  margin: auto;
}

#mainImage {
  max-width: 100%;
}

#pageText {
  margin-top: 20px;
}
.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.floatLeft.margin-right {
  margin-right: 10px;
}
.programText {
  margin-bottom: 10px;
}
#bottomMargin {
  margin-bottom: 30px;
}

.mobileContainer {
  width: 350px;
  height: auto;
  float: right;
}

.philMobileContainer {
  width: 400px;
  height: auto;
  float: right;
  padding-top: 30px;
}

.sexMobileContainer {
  width: 341px;
  height: auto;
  float: right;
}
.ugaMobileContainer {
  width: 400px;
  height: auto;
  float: right;
}

.container.margin {
  margin-top: 150px;
}

@media screen and (max-width: 1087px) {
  .imagesContainer {
    width: 90%;
  }
}

@media screen and (max-width: 1030px) {
  .mexMobileTextSize {
    font-size: 2.2em;
  }
}
@media screen and (max-width: 960px) {
  .mexMobileTextSize {
    font-size: 2em;
  }
  .container.margin {
    margin-top: 80px;
  }
}
@media screen and (max-width: 912px) {
  .mexMobileTextSize {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 870px) {
  .mexMobileTextSize {
    font-size: 1.6em;
  }
  .sexMobileTextSize {
    font-size: 1.7em;
  }
  .container.margin {
    margin-top: 0px;
  }
}
@media screen and (max-width: 820px) {
  .mexMobileTextSize {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 803px) {
  .philMobileTextSize {
    font-size: 1.4em;
  }
  .mobileTextSize {
    font-size: 1.8em;
  }
  .ugaTextSize {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 360px) {
  .button.is-large {
    font-size: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .mobileContainer {
    margin: 15px auto 0px auto;
    float: none;
  }
  .philMobileContainer {
    margin: 15px auto 0px auto;
    float: none;
    padding-top: 0px;
  }
  .sexMobileContainer {
    margin: 15px auto 0px auto;
    float: none;
  }
  .ugaMobileContainer {
    margin: 15px auto 0px auto;
    float: none;
  }
  .mobileTextSize,
  .sexMobileTextSize,
  .philMobileTextSize,
  .ugaTextSize,
  .imagineTextSize {
    text-align: center;
  }

  .mexMobileTextSize {
    text-align: center;
    font-size: 2em;
  }
  .floatRight {
    float: none;
  }

  .floatLeft {
    float: none;
  }
  .floatLeft.margin-right {
    display: none;
  }
  #bottomMargin {
    margin-bottom: 10px;
  }
  .sexMobileTextSize {
    font-size: 2.5em;
  }
  .mobileTextSize {
    font-size: 2.5em;
  }
  .philMobileTextSize {
    font-size: 2.2em;
  }
  .ugaTextSize {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 560px) {
  .sexMobileTextSize {
    font-size: 1.9em;
  }
}
@media screen and (max-width: 518px) {
  .mobileTextSize {
    font-size: 2.3em;
  }
}
@media screen and (max-width: 513px) {
  .ugaTextSize {
    font-size: 2em;
  }
}
@media screen and (max-width: 500px) {
  .mobileTextSize {
    font-size: 2em;
  }
  .philMobileContainer {
    width: 90%;
  }
  .ugaMobileContainer {
    width: 90%;
  }
  .philMobileTextSize {
    font-size: 1.9em;
  }
  .mexMobileTextSize {
    font-size: 1.7em;
  }
}

@media screen and (max-width: 426px) {
  .sexMobileTextSize {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 415px) {
  .philMobileTextSize {
    font-size: 1.8em;
  }
  .sexMobileTextSize {
    font-size: 1.7em;
  }
}
@media screen and (max-width: 412px) {
  .mobileTextSize {
    font-size: 1.9em;
  }
}
@media screen and (max-width: 400px) {
  .mobileTextSize {
    font-size: 1.8em;
  }
  .philMobileTextSize {
    font-size: 1.7em;
  }
  .ugaTextSize {
    font-size: 1.8em;
  }
  .mexMobileTextSize {
    font-size: 1.5em;
  }
  .sexMobileContainer {
    width: 90%;
  }
}
@media screen and (max-width: 376px) {
  .sexMobileTextSize {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 361px) {
  .mobileTextSize {
    font-size: 1.6em;
  }
  .philMobileTextSize {
    font-size: 1.6em;
  }
  .ugaTextSize {
    font-size: 1.6em;
  }
  .mexMobileTextSize {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 360px) {
  .mobileContainer {
    width: 90%;
  }
}
@media screen and (max-width: 359px) {
  .mobileTextSize {
    font-size: 1.5em;
  }
  .philMobileTextSize {
    font-size: 1.4em;
  }
  .ugaTextSize {
    font-size: 1.5em;
  }
  .mexMobileTextSize {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 321px) {
  .mobileTextSize {
    font-size: 1.5em;
  }
  .sexMobileTextSize {
    font-size: 1.4em;
  }
}
