.navbar {
  border-bottom: 4px solid black;
  height: 95px;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-x: visible;
}

.navSecondary {
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0.04em;
  font-weight: 700;
  color: black;
}

.navPrimary {
  text-decoration: none;
  font-size: 30px;
  letter-spacing: -0.04em;
  font-weight: 900;
  color: black;
}

@media screen and (max-width: 1087px) {
  .navPrimary {
    font-size: 26px;
    padding: 0.3rem 0.75rem 0.5rem 0.75rem;
  }
}
